.progress-indicator {
    margin-top: 100px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: -12;
    margin-right: 20;
}

.banner {
    margin-top: 15px;
    width: 100%; /* ie8 */
}

.menu {
    background-color: inherit !important; 
}

.form-container {
    margin-top: 25px;
    padding: 30px;
}

.about-container{
    margin-top: 25px;
    background-color: #424242 !important;
    color: #FFFFFF;
    padding: 15px;
}

.home-container{
    margin-top: 25px;
    padding: 15px;
}

