
.card {
    max-width: 250px;
    margin: 50px;
}

.card-media {
    height: 140px;
}


.card-content {
    width: 250px;
}

.user-avatar {
    margin-top: -70px;
    min-width: 70px;
    min-height: 70px;
  }

.user-info {
    margin-left: -20px !important;
}
