
.card {
    /* max-width: 250px; */ 
    width: 250px; 
    margin-top: 20px;
}

.card-media {
    height: 140px;
}


.card-content {
    width: 250px;
}

.user-avatar {
    margin-top: -70px;
    margin-right:45px;
    min-width: 70px;
    min-height: 70px;
  }

.name-text{
    padding-right: 50px;
}


.info-text{
    padding-right: 30px;
    margin-right: 70px;
}